<div class="logowanie">
    <h2>Logowanie</h2>
    <form (ngSubmit)="logowanie()" #form="ngForm">
        <div class="form-group">
            <label for="username">Użytkownik:</label>
            <input type="text" id="username" name="username" [(ngModel)]="formData.username" required>
        </div>
        <div class="form-group">
            <label for="password">Hasło: </label>
            <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
        </div>
        <button type="submit" [disabled]="form.invalid" routerLink="/das">Zaloguj</button>
    </form>
</div>